[Unit]
Description=playbox RFID player Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run -v /home/pi/audio.csv:/var/playbox/audio.csv -v /var/playbox/spotify.conf:/etc/mopidy/spotify.conf -v /dev/bus/usb:/dev/bus/usb --device /dev/snd --privileged -p 6680:6680 --network host --rm --name %n playbox
ExecStop=-/usr/bin/docker stop %n
ExecStopPost=-/usr/bin/docker rm %n

[Install]
WantedBy=multi-user.target