#Systemd startup script

[Unit]
Description=Systemd script to start playbox an RFID audio player
After=mopidy.service

[Service]
Type=idle
ExecStart=playbox > /var/playbox/playbox.log

[Install]
WantedBy=multi-user.target