#Systemd startup script

[Unit]
Description=Systemd script to start playbox an RFID audio player

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m /opt/playbox/run.py

 [Install]
 WantedBy=multi-user.target