Source: playbox
Maintainer: Dominik Berner <dominik.berner@gmail.com>
Section: Misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: playbox
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RFID player for raspberry pi.
    Using Mopidy/MPD to play back songs triggered by RFID cards. 